/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@font-face {
  font-family: "Poppins";
  src: url("../code/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../code/font/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../code/font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../code/font/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Poppins" !important;
  overflow-x: hidden !important;
}

.custom_nav .pre_order {
  background: #f3bd43;
  padding: 8px 20px;
  border-radius: 50px;
}
.custom_nav a {
  margin-left: 40px;
  font-size: 14px;
  text-transform: uppercase;
  color: #111;
}

.banner_sec {
  background-image: url("./images/bg-image.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(0%);
}

.banner_sec h3 {
  color: #f3bd43;
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins";
}

.banner_sec p {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
}

.solve_sec p {
  font-size: 1.25rem;
  margin-top: 15px;
}

.ribbon {
  background-color: #423d5d;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
}

.ribbon p {
  padding: 10px;
}

.ribbon a:hover {
  color: #ddd;
}

.ribbon a {
  color: #fff;
}

.move-phone {
  position: relative;
  top: 90px;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-width: 100% !important;
}

.offcanvas-body a:hover {
  background-color: #f3bd43;
  color: #111;
}

.offcanvas-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px 0 !important;
}

.offcanvas-body a {
  padding: 15px 27px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.text-sec {
  margin: 70px;
  text-align: center;
  padding: 50px;
}

.space {
  margin: 20px;
}

.uni-btn {
  background: #f3bd43;
  padding: 15px 45px;
  border-radius: 50px;
  border: transparent;
  font-size: 1.2rem;
}

.uni-btn:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.happy-btn {
  background: #f3bd43;
  padding: 15px 30px;
  border-radius: 50px;
  border: transparent;
  font-size: 1rem;
}

.container-box {
  background-image: url("./images/3d-rendering-sci-fi-modern-futuristic-bright-space-planet-rings-abstract-background-space-landscape_105386-154\ copy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(0%);
}

.custom-card {
  background-color: rgba(51, 53, 83, 0.7) !important;
  color: #fff;
  text-align: center !important;
  display: flex;
  align-items: center;
  padding: 50px;
}

.custom-img {
  text-align: center !important;
}

.card-title {
  text-transform: uppercase;
  font-family: "Poppins";
}

.title-box {
  color: #f3bd43;
  text-align: center;
  padding-top: 50px;
}

.title-box h2 {
  font-weight: 700;
  font-family: "Poppins";
  padding: 10px;
}

.title-box p {
  font-family: "Open Sans" !important;
  color: #fff;
}

.btm-txt {
  color: #fff;
}

.title-steps,
.title-master {
  font-family: "Poppins" !important;
  color: #f3bd43;
  text-transform: uppercase;
}

.title-steps h1,
.title-master h1 {
  font-weight: 800;
  font-size: 3.25rem;
}

.steps-body {
  font-family: "Open Sans" !important;
}

.box-sec .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #f3bd43;
  padding: 2px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 25px;
  position: relative;
  top: 60px;
}

.master-sec .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #f3bd43;
  padding: 2px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 25px;
  position: relative;
  top: 60px;
  left: -95px;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.step-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: var(--prm-gray);
  transition: 0.4s;
}
.step-button[aria-expanded="true"] {
  width: 45px;
  height: 45px;
  background-color: var(--prm-color);
  color: #423f44;
}

.done {
  background-color: var(--prm-color);
  color: #fff;
}

.step-item {
  z-index: 10;
  text-align: center;
}

#progress {
  -webkit-appearance: none;
  position: absolute;
  width: 90%;
  z-index: 5;
  height: 6px;
  margin-left: 18px;
  margin-bottom: 18px;
  top: 20px;
}

#progress::-webkit-progress-value {
  background-color: var(--prm-gray);
  transition: 0.5s ease;
}

#progress::-webkit-progress-bar {
  background-color: var(--prm-gray);
}

:root {
  --prm-color: #f3bd43;
  --prm-gray: #e3e3e3;
}

.steps-con {
  width: 100%;
}

.steps-card {
  width: 100%;
}

.steps {
  width: 50%;
}
.step-button[aria-expanded="false"] {
  width: 30px;
  height: 30px;
  background-color: var(--prm-gray);
  color: transparent;
}

.steps-sec {
  padding: 100px;
}

.watch-sec {
  background-image: url("./images/cosmic-background-with-colorful-neon-laser-lights-perfect-digital-wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(0%);
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  text-align: center;
}

.watch-sec h1 {
  color: #f3bd43;
  font-weight: 800;
}

.master-body h4 {
  text-transform: uppercase;
  font-weight: 600;
  color: #423f44;
}

.brc {
  color: #f3bd43 !important;
}

.happy_bg {
  background-image: url("./images/dark.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(0%);
  width: 100% !important;
  margin-top: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 45px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0s;
  transition: 0s;
  background-color: #fff;
}

.slider:before {
  position: absolute;
  background-color: #f3bd43;
  height: 45px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  font-weight: 600;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider:after {
  content: "OFF";
  right: calc(50% - 50px);
  position: absolute;
  color: #423f44;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
}

input:checked + .slider:after {
  content: "ON";
  left: calc(50% - 100px);
  top: 10px;
  position: absolute;
  color: #423f44;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .slider {
  background-color: #fff;
  color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ddd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  content: url("./images/Path\ 600.svg") " OFF";
  background-color: #423f44;
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50px;
  width: 65%;
  content: url("./images/sound_medium.svg") " ON";
  left: calc(50% - 100px);
  position: absolute;
}

.text-con h1,
.happy-head {
  font-family: "Poppins";
}

.happy-head {
  font-size: 1.5rem;
}

.text-con h1 {
  color: #f3bd43;
  font-weight: 700;
  font-size: 3rem;
}

.text-con h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.card-img-top {
  width: 100%;
  height: 16.5vw !important;
  object-fit: cover;
  border-radius: 5px;
}

.text-con .card {
  background-color: #f5f5f5;
  color: #423f44;
}

.text-con h4,
h2 {
  color: #f3bd43;
  font-family: "Poppins";
}

.sc {
  color: #423f44;
}

.h-card {
  background-color: #423d5d !important;
  width: 18vw;
}
.cta {
  width: 100%;
}

.signup-sec {
  background-color: #f5f5f5;
}

.form-container {
  background-image: url("./images/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(0%);
  width: 100% !important;
  height: 100%;
  margin-top: 50px;
  border-radius: 10px;
}

.fct {
  font-family: "Poppins";
  font-weight: 700;
}

.fct2 {
  font-family: "Poppins";
  font-weight: 700;
  color: #f3bd43;
}

.form-container form input::placeholder {
  color: #423f44;
  font-family: "Open Sans";
}

.form-control {
  border-radius: 50px !important;
  padding: 10px !important;
}
.dt {
  font-size: 1.5rem;
}

.disc-sec {
  background-color: #000;
}
.rt {
  font-size: 0.8rem;
}

.footer-sec {
  background-color: #29263f;
  height: 100%;
}

/* ----------------------------------------- meida query sec ------------------------------------*/

@media screen and (max-width: 600px) {
  .custom_nav .nav-link {
    width: 100%;
    background: #f3bd43;
  }
  .move-phone {
    top: 0;
  }

  .banner_sec .solve_sec {
    margin-left: 0 !important;
    padding: 0 90px;
  }
  .uni-btn {
    width: 100%;
  }
  .text-sec {
    margin: 10px;
  }

  .steps {
    width: 100%;
  }
  .steps-con {
    margin-top: 30px;
  }
  .title-steps,
  .steps-body {
    text-align: center;
  }
  .card-title,
  .card-body {
    text-align: center;
  }
  .watch-sec {
    padding: 40px 20px;
    width: 100%;
  }

  .watch-sec h1 {
    font-size: 30px;
    margin: 0;
    padding: 20px;
  }
  .steps-sec,
  .master-sec {
    padding: 40px 20px;
  }
  .content .brc {
    text-align: center;
    padding-top: 25px;
  }
  .title-steps h1,
  .title-master h1 {
    font-weight: 600;
    font-size: 1.75rem;
  }
  .title-steps,
  .title-master,
  .steps-body,
  .master-body {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .master-sec .carousel-dark .carousel-indicators [data-bs-target] {
    left: 0;
  }
  #hap_col {
    display: flex;
    flex-direction: column !important;
  }
  .card-img-top {
    height: 100% !important;
  }
  .h-card {
    width: 100% !important;
    margin-top: 10px;
  }
  #tsc {
    text-align: center !important;
  }
  .disc-sec .ribbon {
    margin-top: 50px;
  }
  .ft {
    text-align: center !important;
  }
}
